matplotlib
matplotlib-inline
numpy
pandas
pandocfilters
pickleshare
Pillow
python-dateutil
pytorch-lightning
pytz
pywin32
pywinpty
PyYAML
pyzmq
rouge
scikit-learn
seaborn
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tokenizers
torch
torchmetrics
tornado
tqdm
transformers
fastapi
uvicorn